<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KAHY Toon</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 70px;
        }
        /* Để nội dung không bị thanh nav che mất */
        .comic-gallery .card {
            margin-bottom: 20px;
        }

        .comic-gallery .card-img-top {
            height: 250px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KAHY Toon", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Thể Loại", "TheLoai", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var user = Session["User"] as QLKAHYTOON.Models.nguoidung;
                    }
                    @if (user != null)
                    {
                        <li><a href="@Url.Action("Profile", "User")">Chào, @user.HoTen</a></li>
                        <li>@Html.ActionLink("Đăng Xuất", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Đăng Ký", "Register", "Account")</li>
                        <li>@Html.ActionLink("Đăng Nhập", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Đồ án Website Truyện Tranh ASP.NET MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>