@{
    ViewBag.Title = "Trang Chủ";
    // Lấy danh sách truyện từ ViewBag
    var truyenMoi = ViewBag.TruyenMoi as List<QLKAHYTOON.Models.thongtintruyen>;
    var truyenXemNhieu = ViewBag.TruyenXemNhieu as List<QLKAHYTOON.Models.thongtintruyen>;
    var truyenNoiBat = ViewBag.TruyenNoiBat as List<QLKAHYTOON.Models.thongtintruyen>;
}

<h2>Truyện Mới Cập Nhật</h2>
<div class="row comic-gallery">
    @foreach (var truyen in truyenMoi)
    {
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="card">
                <a href="@Url.Action("ChiTiet", "Truyen", new { id = truyen.MaTruyen.Trim() })">
                    <img src="@truyen.AnhTruyen" class="card-img-top" alt="@truyen.TenTruyen">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" style="height: 30px; overflow: hidden;">
                        <a href="@Url.Action("ChiTiet", "Truyen", new { id = truyen.MaTruyen.Trim() })">@truyen.TenTruyen</a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>
<hr />

<h2>Truyện Xem Nhiều</h2>
<div class="row comic-gallery">
    @foreach (var truyen in truyenXemNhieu)
    {
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="card">
                <a href="@Url.Action("ChiTiet", "Truyen", new { id = truyen.MaTruyen.Trim() })">
                    <img src="@truyen.AnhTruyen" class="card-img-top" alt="@truyen.TenTruyen">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" style="height: 30px; overflow: hidden;">
                        <a href="@Url.Action("ChiTiet", "Truyen", new { id = truyen.MaTruyen.Trim() })">@truyen.TenTruyen</a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>
<hr />

<h2>Truyện Nổi Bật</h2>
<div class="row comic-gallery">
    @foreach (var truyen in truyenNoiBat)
    {
        <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="card">
                <a href="@Url.Action("ChiTiet", "Truyen", new { id = truyen.MaTruyen.Trim() })">
                    <img src="@truyen.AnhTruyen" class="card-img-top" alt="@truyen.TenTruyen">
                </a>
                <div class="card-body">
                    <h5 class="card-title text-center" style="height: 30px; overflow: hidden;">
                        <a href="@Url.Action("ChiTiet", "Truyen", new { id = truyen.MaTruyen.Trim() })">@truyen.TenTruyen</a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>